body {
    margin: 0;
    background-color: #fbfbfb;
}
a {
    text-decoration: none;
    color: #555;
}
a:hover {
    color: #222;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.page {
    display: flex;
}
.column.left {
    padding: 20px;
    gap: 10px;
    justify-content: space-between;
    padding-bottom: 280px;
}
.center {
    gap: 20px;
    padding: 20px;
}
.line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.content {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -2px -2px 13px 10px #ddd;
    background-color: #fff;
    background-size: contain;
    box-sizing: border-box;
}
.column.left .content {
    height: 36px;
    border-radius: 8px;
    color: #fff;
}
.center .content {
    height: 200px;
    border-radius: 16px;
    color: #fff;
}
.column.right .tasks {
    border-radius: 8px;
    padding: 24px;
    box-shadow: none;
}

.content.circle { border-radius: 100px; }
.content.blue { box-shadow: inset -2px -2px 13px 10px #ddf; }
.content.pink { box-shadow: inset -2px -2px 13px 10px #fdd; }
.content.green { box-shadow: inset -2px -2px 13px 10px #dfd; }
.content.special {
    box-shadow: none;
    background: radial-gradient(#dfd 10px, #cce)
}

main {
    padding: 20px;
}

/* specific styles */
.column.left .content.yandex {
    background-color: #e89e00;
    box-shadow: inset -2px -2px 13px 2px #fff;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.content.gmail {
    background-color: #44b;
    box-shadow: inset -1px -1px 13px 2px #fff;
    background-image: url('./images/google.png');
    background-size: cover;
    background-position-y: 80px;
    background-position-x: center;
}
.content.upwork {
    background-color: #14a800;
    box-shadow: inset -2px -2px 13px 2px #fff;
}
.column.left .content.facebook {
    background-color: #008;
    box-shadow: inset -2px -2px 13px 2px #fff;
    color: #aaf;
}
.column.left .content.santander {
    background-color: #fff;
    box-shadow: inset -2px -2px 13px 2px #f66;
    background-size: cover;
    color: #866;
}
.column.left .content.wnotes {
    background-color: #a55;
    box-shadow: inset -2px -2px 13px 2px #fff;
    font-weight: bold;
    color: #fdd;
}
.content.javascript {
    background-image: url('./images/javascript.png');
    align-items: flex-start;
    padding-top: 32px;
}
.content.carologie {
    background-image: url('./images/carologie.png');
    color: #fff;
    align-items: flex-end;
    padding-bottom:16px;
    font-size: 28px;
    box-shadow: inset -4px -4px 20px 16px #fdd;
}
.content.tenpines {
    background-image: url('./images/10pinesdraw.png');
    padding-top:46px;
    font-size: 20px;
}
.content.micmaths {
    background-image: url('./images/micmaths.png');
    background-size: cover;
    font-size: 28px;
    color: rgba(30, 30, 30, 0.5)
}
.content.gatocaja {
    background-image: url('./images/gatocaja.png');
    background-size: cover;
    font-size: 28px;
    color: rgba(30, 30, 30, 0.5)
}
.content.romania {
    background-image: url('./images/romania.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.column.left .content.blackfont {
    color: #333;
}
.center .content.blackfont {
    color: #333;
}

.content.mdn { background-image: url('./images/mdn.png'); }
.content.redis { background-image: url('./images/redis.png'); }
.content.numberphile { background-image: url('./images/numberphile.png'); }
.content.canales { background-image: url('./images/canales.png'); }
.content.greece { background-image: url('./images/greece.png'); }
.content.reaper { background-image: url('./images/reaper.png'); }

.content.yandex {
}
.content.extra { background-image: url('./images/extraordinary.png'); }

.search input[type=text] {
    width: 170px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
}
.search input[type=button] {
    width: 24px;
    cursor: pointer;
    height: 30px;
}
.search {
    position: relative;
}
.search .suggestions {
    border: 1px solid #ccc;
    z-index: 10;
    width: 100px;
    position: absolute;
    width: 170px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    display: none;
}
.search .suggestion {
    padding: 5px;
}
.search .suggestion.selected {
    background-color: navy;
    color: #fff;
}

header {
    background-color: #a55;
    display: flex;
    padding: 0px 30px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.notifications-box {
    padding: 5px;
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}
.notifications-box:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.notifications-box:active {
    background-color: rgba(0, 0, 0, 0.2);

}
.notifications-box img {
    height: 40px;
}

.notifications-box .number-point {
    width: 22px;
    height: 22px;
    position: absolute; 
    bottom: 3px;
    right: 0px;
    border-radius: 11px;
    background-color: #d55;
    font-size: 20px;
    color: white;
    display: none;
    justify-content: center;
    padding-top: 1px;
    box-sizing: border-box;
    font-weight: bold;
}
.notifications-box .number-point.show {
    display: flex;
}

.notifications {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 80px;
    right: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 5px #bbb;
}
.notifications.show {
    display: block;
}

.notifications .notification {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}
.notifications .notification.unread {
    font-weight: bold;
}
.notifications .notification:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.notifications .notification:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.notifications .notification:hover {
    background-color: #eee;
}
.notification .text {
    width: 320px;
    color: #444;
    font-size: 14px;
}
.three-dots {
    width: 23px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.three-dots .dot {
    width: 5px;
    height: 5px;
    background-color: #999;
    border-radius: 3px;
}

.notification.unread .three-dots .dot {
    background-color: #444;
}

.notification .options {
    display: none;
    border-radius: 8px;
    position: absolute;
    color: #333;
    top: 30px;
    right: 20px;
    font-weight: normal;
    background-color: #fff;
    z-index: 10;
    box-shadow: 2px 2px 4px 4px #aaa;
}

.notification .option {
    padding: 15px;
    cursor: pointer;
}

.notification .option:hover {
    background-color: #ddd;
}

.notification .options.show {
    display: block;
}
